<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sstinc.skeem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="sstinc.sstinc.skeem.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sstinc.sstinc.skeem.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name="sstinc.sstinc.skeem.TaskCreateActivity" />
        <activity android:name="sstinc.sstinc.skeem.TaskCreateHelperActivity" />
        <activity android:name="sstinc.sstinc.skeem.CreateRepeatedDaysActivity" />
        <activity android:name="sstinc.sstinc.skeem.VoidblockCreateActivity" />
        <activity android:name="sstinc.sstinc.skeem.CreateDatetimeActivity" />
        <activity android:name="sstinc.sstinc.skeem.SelectCreateActivity"></activity>
    </application>

</manifest>